/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

body {
    background-color: rgb(255, 245, 191);
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border-top: 1px solid #646464;
    width: 90%;
    margin: auto;
}

/* .border is temporary for tracking postition*/
.border {
    margin-top: 10px;
    border-style: solid;
    width: 100%;
}

.font-style {
    font-family: 'ADLaM Display', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 150%;
}

.text-style {
    font-family: 'ADLaM Display', cursive;
    letter-spacing: 1px;
    font-size: 100%;
}

/* Header */
.navbar-style {
    background-color: #ffffff;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.menu-style {
    padding: 5px 0 5px 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/* Main content*/
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
}

.hero-image {
    position: relative;
    margin-top: 180px;
}

.hero-image img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px
}

.video-style {
    background-color: #ffffff;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    margin-top: 10px;
    padding: 5px 0 5px 0;
}

.video-style iframe {
    width: 560px;
    height: 315px;
    border-radius: 50px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-block {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgb(247, 247, 247);
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    width: 150px;
}

/* Footer */
footer {
    background-color: #ffffff;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    bottom: 10px;
    left: 0;

}

#social-networks {
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    padding: 2%;
    color: #3a3a3a;
}


/* Media query: for narrow screens (720px and smaller) */
@media screen and (max-width: 720px) {

    .font-style {
        letter-spacing: 1px;
        font-size: 80%;
    }

    /* Title */
    .navbar-style {
        box-shadow: 0 5px 5px #3a3a3a;
        border-radius: 25px 5px;
    }

    /* Main content*/
    .hero-image {
        margin-top: 110px;
    }

    .hero-image img {
        width: 100%;
        box-shadow: 0 5px 5px #3a3a3a;
        border-radius: 25px 5px
    }

    .video-style {
        width: 100%;
        height: 236px;
        box-shadow: 0 5px 5px #3a3a3a;
        border-radius: 25px 5px
    }

    .video-style iframe {
        width: 420px;
        height: 236px;
        border-radius: 25px 5px
    }

    /* Footer */
    footer {
        position: fixed;
        bottom: 0px;
    }

    #social-networks {
        padding: 0 0;
    }

    #social-networks i {
        font-size: 100%;
        padding: 0;
    }

    /* Media query: for really narrow screens (444px and smaller) */
    @media screen and (max-width: 444px) {
        .video-style {
            width: 100%;
            height: 156px;
            box-shadow: 0 5px 5px #3a3a3a;
            border-radius: 25px 5px
        }

        .video-style iframe {
            width: 280px;
            height: 156px;
            border-radius: 25px 5px
        }
    }

}