/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

body {
    background-color: rgb(170, 207, 255);
    color: black;
}

h1,
h2,
h3 {
    font-family: 'ADLaM Display', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    display: flex;
}

hr {
    border-top: 1px solid #646464;
    margin: 0 10px;
}

/* Header */
header {
    background-color: #ffffff;
    text-align: center;
    position: fixed;
    z-index: 99;
    width: 96%;
    box-shadow: 0 3px 3px #3a3a3a;
    border-radius: 50px 10px;
    padding-bottom: 10px;
}

header a {
    text-decoration: none;
    color: inherit;
}

.active {
    text-decoration: underline;
    color: darkgrey;
}

nav>h3 {
    flex-wrap: wrap;
    justify-content: space-around;
}

main {
    padding-top: 150px;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0px;
    background-color: #ffffff;
    width: 96%;
    box-shadow: 0 3px 3px #3a3a3a;
    border-radius: 50px 10px;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: for realy narrow screens (350px and smaller) */
@media screen and (max-width: 350px) {
    /* Header */
    h1 {
        width: 200px;
    }
        header {   
               border-radius: 25px 5px;
            }
    
        header a {
            text-decoration: none;
            color: inherit;
        }
        nav>h3 {
            padding-left: 10px;
            flex-direction: column;
            justify-content: space-around;
            text-align: left;
        }
    /* Main */
        main {
                padding-top: 230px;
        }
}