/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

body {
    background-color: rgb(255, 245, 191);
    color: black;
}

.border {
    border-style: solid;
    width: 100%;
}
.navbar {
    font-family: 'ADLaM Display', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    display: flex;
}

p {
    font-family: 'ADLaM Display', cursive;
    letter-spacing: 2px;
}

hr {
    border-top: 1px solid #646464;
    width: 90%;
    margin: auto;
}

/* Header */
header {
    background-color: #ffffff;
    text-align: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
}

header a {
    text-decoration: none;
    color: inherit;
}

.active {
    text-decoration: underline;
    color: darkgrey;
}

#menu-style {
    flex-wrap: wrap;
    justify-content: space-around;
}

main {
    padding-top: 150px;
}

.hidden-text {
    display: none;
}

/* Hero section*/
#hero-main {
    height: 300px;
    background: url("../images/robstar-racing.jpg") no-repeat center center/cover;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    width: 100%;
}

#main-text {
    text-align: center;
}

#main-section {
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 25px 5px;
    padding: 5px 15px 5px 15px;
    width: 100%;
}

#images {
    text-align: center;
    z-index: 50;
    width: 100%;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    position: absolute;
}

/* For the images */
#photos img {
    width: 720px;
    line-height: 1em;
    border-radius: 25px 5px;
}

#photos {
    line-height: 0;
    z-index: 75;
    padding-bottom: 76px;
}

/* For about page */
.about-text {
    background-color: rgba(255, 245, 191, 0.6);
    padding: 10px;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 25px 5px;
}

#section-style {
    padding-bottom: 76px;
}

#hero-bg {
    height: 300px;
    width: 100%;
    background: url("../images/robstar-racing.jpg") no-repeat center center/cover;
    position: fixed;
    border-radius: 50px 10px;
    opacity: 0.1;
}

/* Footer */
footer {
    position: fixed;
    bottom: 5px;
    z-index: 98;
    background-color: #ffffff;
    width: 96%;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    
}

#social-networks {
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    padding: 2%;
    color: #3a3a3a;
}

/* Media query: for realy narrow screens (350px and smaller) */
@media screen and (max-width: 350px) {

    /* Header */
    h1 {
        width: 200px;
    }

    header {
        border-radius: 25px 5px;
    }

    header a {
        text-decoration: none;
        color: inherit;
    }

    nav>h3 {
        padding-left: 10px;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
    }

    /* Main */
    main {
        padding-top: 230px;
    }

    /* Footer */
    footer {
        position: fixed;
        bottom: 0px;
    }

    #social-networks {
        padding: 0 0;
    }

    #social-networks i {
        font-size: 100%;
        padding: 0;
    }
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    #photos {
        column-count: 3;
        column-gap: 0;
    }
}