/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

body {
    background-color: rgb(255, 245, 191);
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
} 

hr {
    border-top: 1px solid #646464;
    width: 90%;
    margin: auto;
}

/* .border is temporary for tracking postition*/
.border {
    margin-top: 180px;
    border-style: solid;
    width: 100%;
}

.font-style {
    font-family: 'ADLaM Display', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 150%;
}

/* Header */
.navbar-style {
    background-color: #ffffff;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    width: 100%;
    position: fixed;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
}

.menu-style {
    padding: 5px 0 5px 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/* Main content*/
.hero-image {
    position: relative;
    margin-top: 180px;
}

.hero-image img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px
}

.video-style {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px
}

.text-block {
    position: realtive;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/* Media query: for realy narrow screens (350px and smaller) */
@media screen and (max-width: 450px) {

    .font-style {
        letter-spacing: 1px;
        font-size: 80%;
        }

    /* Title */
    .navbar-style {
        box-shadow: 0 5px 5px #3a3a3a;
        border-radius: 25px 5px;
    }

    /* Main content*/
    .hero-image {
        margin-top: 110px;
    }
    
    .hero-image img {
        width: 100%;
        box-shadow: 0 5px 5px #3a3a3a;
        border-radius: 25px 5px
    }
}