/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

body {
    background-color: rgb(255, 245, 191);
    color: black;
}

h1,
h2,
h3 {
    font-family: 'ADLaM Display', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    display: flex;
}

p {
    font-family: 'ADLaM Display', cursive;
    letter-spacing: 2px;
}

hr {
    border-top: 1px solid #646464;
    margin: 0 10px;
}

/* Header */
header {
    background-color: #ffffff;
    text-align: center;
    position: fixed;
    z-index: 99;
    width: 98%;
    box-shadow: 0 3px 3px #3a3a3a;
    border-radius: 50px 10px;
}

header a {
    text-decoration: none;
    color: inherit;
}

.active {
    text-decoration: underline;
    color: darkgrey;
}

nav>h3 {
    flex-wrap: wrap;
    justify-content: space-around;
}

main {
    padding-top: 150px;
}

/* Main section*/
main>div {}

/* Hero section*/
#hero-main {
    height: 400px;
    width: 100%;
    background: url("../images/robstar-racing.jpg") no-repeat center center/cover;
    position: relative;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
}

.main-text {
    margin-top: 410px;
    background-color: #ffffff;
    text-align: center;
    position: fixed;
    width: 98%;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
}

.main-text>h3 {
    display: flex;
    text-align: center;
}

/* For styling the hero image on sub pages */
#hero-bg {
    height: 400px;
        width: 100%;
        background: url("../images/robstar-racing.jpg") no-repeat center center/cover;
        position: fixed;
        border-radius: 50px 10px;
        opacity: 0.2;
}

#images {
    text-align: center;
    z-index: 50;
    width: 98%;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    position: absolute;
}
 /* For the images */
 #photos img {
     width: 500px;
     line-height: 1em;
 }

 
/* Footer */
footer {
    position: fixed;
    bottom: 0px;
    background-color: #ffffff;
    width: 98%;
    box-shadow: 0 3px 3px #3a3a3a;
    border-radius: 50px 10px;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: for realy narrow screens (350px and smaller) */
@media screen and (max-width: 350px) {

    /* Header */
    h1 {
        width: 200px;
    }

    header {
        border-radius: 25px 5px;
    }

    header a {
        text-decoration: none;
        color: inherit;
    }

    nav>h3 {
        padding-left: 10px;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
    }

    /* Main */
    main {
        padding-top: 230px;
    }
}