/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

body {
    background-color: rgb(255, 245, 191);
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border-top: 1px solid #646464;
    width: 90%;
    margin: auto;
}

/* .border is temporary for tracking postition*/
.border {
    margin-top: 10px;
    border-style: solid;
    width: 100%;
}

.font-style {
    font-family: 'ADLaM Display', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 150%;
}

.text-style {
    font-family: 'ADLaM Display', cursive;
    letter-spacing: 1px;
    font-size: 80%;
}

.hidden-text {
    display: none;
}

.format-text {
    padding: 0 50px 0 50px;
}

/* Header */
.navbar-style {
    z-index: 99;
    background-color: #ffffff;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.menu-style {
    padding: 5px 0 5px 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/* Main content*/
.hero-image {
    position: relative;
    margin-top: 180px;
}

.hero-image img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px
}

.video-style {
    background-color: #ffffff;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    margin-top: 10px;
    padding: 5px 0 5px 0;
}

.video-style iframe {
    width: 560px;
    height: 315px;
    border-radius: 50px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-block-left {
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: rgb(247, 247, 247);
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    width: 20%;
        min-width: 150px;
}

.text-block-right {
    position: absolute;
    bottom: 20px;
    right: 10px;
    background-color: rgb(247, 247, 247);
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    width: 20%;
    min-width: 150px;
}

.info-text-style {
    background-color: #ffffff;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 5px 0 5px 0;
}

/* Footer */
footer {
    background-color: #ffffff;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    bottom: 10px;
    left: 0;

}

#social-networks {
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    padding: 2%;
    color: #3a3a3a;
}

/* Images page */
.photos img {
    width: 100%;
    line-height: 1em;
    padding: 1px;
    border-radius: 25px 5px;
}

.photos {
    line-height: 0;
    padding-bottom: 76px;
}

.header-margin {
    margin-top: 180px;
}

/* About page */
.about-text-style {
    background-color: #ffffff;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    box-shadow: 0 10px 10px #3a3a3a;
    border-radius: 50px 10px;
    margin-top: 10px;
    padding: 5px 5% 5px 5%;
}
.about-text-style h2 {
    text-align: center;
}

.about-format {
    padding: 0 200px 0 200px;
}

.bottom-margin {
    margin-bottom: 80px;
}

/* Media query: for narrow screens (1080px and smaller) */
@media screen and (max-width: 1080px) {

    .font-style {
        letter-spacing: 1px;
        font-size: 80%;
    }

    /* Title */
    .navbar-style {
        box-shadow: 0 5px 5px #3a3a3a;
        border-radius: 25px 5px;
    }

    /* Main content*/
    .hero-image {
        margin-top: 110px;
    }

    .hero-image img {
        width: 100%;
        box-shadow: 0 5px 5px #3a3a3a;
        border-radius: 25px 5px
    }

    .video-style {
        width: 100%;
        height: 236px;
        box-shadow: 0 5px 5px #3a3a3a;
        border-radius: 25px 5px
    }

    .video-style iframe {
        width: 420px;
        height: 236px;
        border-radius: 25px 5px
    }
    .text-block-left {
        padding: 3px 5px 2px 5px;
        width: 150px;
    }

    .text-block-right {
        padding: 3px 5px 2px 5px;
        width: 150px;
    }
   .info-text-style {
        width: 100%;
        height: auto;
        box-shadow: 0 5px 5px #3a3a3a;
        border-radius: 25px 5px
   }

    /* Footer */
    footer {
        position: fixed;
        bottom: 10px;
    }

    #social-networks {
        padding: 0 10px;
    }

    #social-networks i {
        font-size: 200%;
        padding: 0;
    }

    /* Images page */
    .photos img {
        width: 100%;
        line-height: 1em;
        border-radius: 25px 5px;
    }

    .photos {
        line-height: 0;
        padding-bottom: 76px;
        column-count: 2;
        column-gap: 3px;
    }

    .header-margin {
    margin-top: 110px;
    }

    /* About page*/
    .about-text-style {
        width: 80%;
        box-shadow: 0 5px 5px #3a3a3a;
        border-radius: 25px 5px;
    
   }

   .about-format {
       padding: 0 150px 0 100px;
   }

    /* Media query: for really narrow screens (620px and smaller) */
    @media screen and (max-width: 620px) {
        .video-style {
            width: 100%;
            height: 156px;
            box-shadow: 0 5px 5px #3a3a3a;
            border-radius: 25px 5px;
            display: inline-block;
        }

        .video-style iframe {
            width: 280px;
            height: 156px;
            border-radius: 25px 5px;
        }

        .text-block-left {
            position: relative;
            top: 10px;
            left: 2px;
            padding: 3px 5px 2px 5px;
            box-shadow: 0 5px 5px #3a3a3a;
            border-radius: 25px 5px;
            width: 200px;
        }

        .text-block-right {
            position: relative;
            margin-left: auto;
            margin-top: 0;
            top: 15px;
            right: 2px;
            padding: 3px 5px 2px 5px;
            box-shadow: 0 5px 5px #3a3a3a;
            border-radius: 25px 5px;
            width: 200px;
        }
        .info-text-style {
            margin-top: 35px;
            width: 100%;
            height: auto;
            box-shadow: 0 5px 5px #3a3a3a;
            border-radius: 25px 5px;
        }
        .format-text {
            padding: 0 10px 0 10px;
        }

        /* Images page */
        .photos {
            column-count: 3;
            column-gap: 3px;
        }
        
        /* About page*/
        .about-text-style {
            width: 90%;
        }

        .about-format {
            padding: 0 20px 0 10px;
        }
    }

}