/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: rgb(170, 207, 255);
    color: black;
}

h2 {
    display: flex;
}

hr {
    border-top: 1px solid #646464;
    margin: 0 10px;
}
header {
    background-color: #ffffff;
    text-align: center;
    position: fixed;
    z-index: 99;
    width: 98%;
    box-shadow: 0 3px 3px #3a3a3a;
    border-radius: 50px 10px;
    padding-bottom: 10px;
}

header a {
    text-decoration: none;
    color: inherit;
}

.active {
    text-decoration: underline;
    color: darkgrey;
}

nav>h2 {
    flex-wrap: wrap;
    justify-content: space-around;
}

main {
    padding-top: 150px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0px;
    background-color: #ffffff;
    width: 98%;
    box-shadow: 0 3px 3px #3a3a3a;
    border-radius: 50px 10px;
}